nodered/data/node_modules/@background404/node-red-contrib-whisper/examples/language.json
[{"id":"bcfb984d6f29ac7b","type":"inject","z":"0c79c8ac29d7fcec","name":"Language","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"en\":\"english\",\"zh\":\"chinese\",\"de\":\"german\",\"es\":\"spanish\",\"ru\":\"russian\",\"ko\":\"korean\",\"fr\":\"french\",\"ja\":\"japanese\",\"pt\":\"portuguese\",\"tr\":\"turkish\",\"pl\":\"polish\",\"ca\":\"catalan\",\"nl\":\"dutch\",\"ar\":\"arabic\",\"sv\":\"swedish\",\"it\":\"italian\",\"id\":\"indonesian\",\"hi\":\"hindi\",\"fi\":\"finnish\",\"vi\":\"vietnamese\",\"he\":\"hebrew\",\"uk\":\"ukrainian\",\"el\":\"greek\",\"ms\":\"malay\",\"cs\":\"czech\",\"ro\":\"romanian\",\"da\":\"danish\",\"hu\":\"hungarian\",\"ta\":\"tamil\",\"no\":\"norwegian\",\"th\":\"thai\",\"ur\":\"urdu\",\"hr\":\"croatian\",\"bg\":\"bulgarian\",\"lt\":\"lithuanian\",\"la\":\"latin\",\"mi\":\"maori\",\"ml\":\"malayalam\",\"cy\":\"welsh\",\"sk\":\"slovak\",\"te\":\"telugu\",\"fa\":\"persian\",\"lv\":\"latvian\",\"bn\":\"bengali\",\"sr\":\"serbian\",\"az\":\"azerbaijani\",\"sl\":\"slovenian\",\"kn\":\"kannada\",\"et\":\"estonian\",\"mk\":\"macedonian\",\"br\":\"breton\",\"eu\":\"basque\",\"is\":\"icelandic\",\"hy\":\"armenian\",\"ne\":\"nepali\",\"mn\":\"mongolian\",\"bs\":\"bosnian\",\"kk\":\"kazakh\",\"sq\":\"albanian\",\"sw\":\"swahili\",\"gl\":\"galician\",\"mr\":\"marathi\",\"pa\":\"punjabi\",\"si\":\"sinhala\",\"km\":\"khmer\",\"sn\":\"shona\",\"yo\":\"yoruba\",\"so\":\"somali\",\"af\":\"afrikaans\",\"oc\":\"occitan\",\"ka\":\"georgian\",\"be\":\"belarusian\",\"tg\":\"tajik\",\"sd\":\"sindhi\",\"gu\":\"gujarati\",\"am\":\"amharic\",\"yi\":\"yiddish\",\"lo\":\"lao\",\"uz\":\"uzbek\",\"fo\":\"faroese\",\"ht\":\"haitian creole\",\"ps\":\"pashto\",\"tk\":\"turkmen\",\"nn\":\"nynorsk\",\"mt\":\"maltese\",\"sa\":\"sanskrit\",\"lb\":\"luxembourgish\",\"my\":\"myanmar\",\"bo\":\"tibetan\",\"tl\":\"tagalog\",\"mg\":\"malagasy\",\"as\":\"assamese\",\"tt\":\"tatar\",\"haw\":\"hawaiian\",\"ln\":\"lingala\",\"ha\":\"hausa\",\"ba\":\"bashkir\",\"jw\":\"javanese\",\"su\":\"sundanese\",\"yue\":\"cantonese\"}","payloadType":"json","_mcu":{"mcu":false},"x":220,"y":220,"wires":[["29f85d2c2e6220fb"]]},{"id":"7b3ed14ba50edd8b","type":"template","z":"0c79c8ac29d7fcec","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<option value=\"{{payload}}\">{{payload}}</option>","output":"str","_mcu":{"mcu":false},"x":520,"y":220,"wires":[["9d64c1166c5e1dbf"]]},{"id":"23b053b33f88a968","type":"debug","z":"0c79c8ac29d7fcec","name":"debug 55","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","_mcu":{"mcu":false},"x":820,"y":220,"wires":[]},{"id":"29f85d2c2e6220fb","type":"split","z":"0c79c8ac29d7fcec","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","_mcu":{"mcu":false},"x":370,"y":220,"wires":[["7b3ed14ba50edd8b"]]},{"id":"9d64c1166c5e1dbf","type":"join","z":"0c79c8ac29d7fcec","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"20","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","_mcu":{"mcu":false},"x":670,"y":220,"wires":[["23b053b33f88a968"]]}]